body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;



}

header {
    background-color: #e79ea5;



}

#cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#pesquisar {
    display: flex;
    background: white;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    gap: 1%;
    background-color: transparent;
}

#logoloja {

    height: 150px;

}

#botaoPesquisar {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border-color: rgb(239, 198, 94);


}

#botaoPesquisar::placeholder {
    color: lightgray;
    text-align: center;

}

#navBottom {

    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 16pt;
    border: solid rgb(239, 198, 94);







}

#colar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;

}

#colar:hover {
    color: gold;





}

#pulseira {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#pulseira:hover {
    color: gold;





}

#brinco {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#brinco:hover {
    color: gold;





}

#anel {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;

}

#anel:hover {
    color: gold;
}

#item {

    cursor: pointer;
    font: 400;
}

#slider {

    background-size: cover;
    background-repeat: no-repeat;
}

#midiaSocias {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    gap: 10px;
}

.carrossel {
    width: 100%px;
    height: 300px;
    overflow: hidden;

    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;




}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);


}

#img {
    object-fit: cover;
    height: 1012px;






}

#itens {
    max-width: 100%;
    height: 1500px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 50px;
    padding-right: 100px;

}

#cardItem {
    width: 200px;
    height: 400px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

#cardItem:hover {
    box-shadow: 7px 7px 7px lightgrey;
    padding: 15px;
}

#conteudoCard {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cardItem img {
    width: 95%;

}

#cardItem h3 {
    width: 90%;
    text-align: center;
}

#cardItem p {
    width: 90%;
    font-style: italic;
    color: black;
    text-align: center;
}

#cardItem button {
    width: 90%;
    padding: 15px 0px;
    border: none;

    border-radius: 4px;
    background: #e79ea5;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 20px;
}

#cardItem button:hover {
    background: rgb(239, 198, 94);
    color: white;
    box-shadow: 7px 7px 7px lightgrey;
    padding: 9px;


}

#rodape {
    background: black;
    color: white;
    padding: 100pt;
}