body {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    overflow-x: hidden;



}

header {
    background-color: #e79ea5;



}

#cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#pesquisar {
    display: flex;
    background: white;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
    gap: 1%;
    background-color: transparent;
}

#logoloja {

    height: 150px;

}

#botaoPesquisar {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border-color: rgb(239, 198, 94);


}

#botaoPesquisar::placeholder {
    color: lightgray;
    text-align: center;

}

#navBottom {

    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 16pt;
    border: solid rgb(239, 198, 94);







}

#colar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;

}

#colar:hover {
    color: gold;





}

#pulseira {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#pulseira:hover {
    color: gold;





}

#brinco {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#brinco:hover {
    color: gold;





}

#anel {
    display: flex;
    justify-content: space-around;
    background-color: white;
    cursor: pointer;

}

#anel:hover {
    color: gold;
}

#item {

    cursor: pointer;
    font: 400;
}

#slider {

    background-size: cover;
    background-repeat: no-repeat;
}

#midiaSocias {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    gap: 10px;
}

.carrossel {
    width: 1500px;
    height: 1000px;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;




}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);


}

#img {
    object-fit: cover;
    height: 1012px;






}

#itens {
    font-size: 50pt;
    display: flex;
    justify-content: space-around;
    margin: 8pt;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    box-shadow: 7pt 4pt 3pt slategray;
}

#item1 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;

}

#item2 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
    cursor: pointer;
    background-image: url(/img/colar-sejaforte.png);
}

#item2:hover {
    background-image: url(/img/logo3.jpeg);
}

#item3 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item4 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item5 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item6 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item7 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item8 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item9 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item10 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item11 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item12 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}

#item13 {
    border: solid;
    border-color: black;
    margin: 70pt 20pt;
    padding: 70pt 20pt;
}



#rodape {
    background: black;
    color: white;
    padding: 100pt;
}